.hero{

text-align:center;

padding:80px 20px 40px;

}

.hero h1{

font-size:60px;

background:
linear-gradient(
90deg,
#ffffff,
#c084fc,
#f9a8d4
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.hero p{

margin-top:15px;

color:#cbd5e1;

}

.main-container{

width:92%;

max-width:1500px;

margin:auto;

display:grid;

grid-template-columns:
1.2fr .8fr;

gap:30px;

padding-bottom:80px;

}

.verification-form,
.result-panel{

padding:30px;

border-radius:30px;

background:
rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:
1px solid rgba(255,255,255,.08);

}

.verification-form input,
.verification-form textarea{

width:100%;

padding:18px;

margin-top:15px;

border:none;

outline:none;

border-radius:18px;

background:
rgba(255,255,255,.05);

color:white;

}

.verification-form textarea{

height:180px;

resize:none;

}

.upload-area{

margin-top:20px;

}

.upload-btn{

display:inline-block;

padding:14px 22px;

cursor:pointer;

border-radius:15px;

background:
rgba(255,255,255,.08);

}

.upload-area span{

display:block;

margin-top:10px;

color:#cbd5e1;

}

#verifyBtn{

width:100%;

margin-top:25px;

padding:18px;

border:none;

cursor:pointer;

border-radius:50px;

font-size:17px;

font-weight:600;

color:white;

background:
linear-gradient(
135deg,
#8b5cf6,
#ec4899
);

transition:.3s;

}

#verifyBtn:hover{

transform:translateY(-4px);

box-shadow:
0 0 30px rgba(236,72,153,.5);

}

.report-card{

margin-bottom:20px;

padding:18px;

border-radius:18px;

background:
rgba(255,255,255,.04);

}

.report-card h3{

margin-bottom:10px;

color:#f9a8d4;

}

.risk-meter{

margin:20px 0;

}

.meter-bg{

height:18px;

border-radius:50px;

overflow:hidden;

background:
rgba(255,255,255,.08);

}

.meter-fill{

width:0%;

height:100%;

transition:1s;

background:
linear-gradient(
90deg,
#22c55e,
#eab308,
#ef4444
);

}

.history-card{

padding:20px;

border-radius:20px;

background:
rgba(255,255,255,.04);

}

.history-card ul{

list-style:none;

}

.history-card li{

padding:10px;

border-bottom:
1px solid rgba(255,255,255,.08);

}

@media(max-width:1000px){

.main-container{

grid-template-columns:1fr;

}

}