.scanner-hero{

text-align:center;

padding:80px 20px 40px;

}

.scanner-hero h1{

font-size:65px;

margin-bottom:15px;

background:
linear-gradient(
90deg,
#ffffff,
#c084fc,
#f9a8d4
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.scanner-hero p{

font-size:18px;

color:#cbd5e1;

}

.scanner-container{

width:90%;

max-width:1400px;

margin:auto;

display:grid;

grid-template-columns:
1.2fr .8fr;

gap:30px;

padding-bottom:80px;

}

.scanner-box,
.result-box{

padding:30px;

border-radius:30px;

background:
rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:
1px solid rgba(255,255,255,.08);

}

.scanner-box textarea{

width:100%;

height:320px;

padding:20px;

resize:none;

border:none;

outline:none;

border-radius:20px;

font-size:16px;

font-family:'Poppins',sans-serif;

background:
rgba(255,255,255,.05);

color:white;

}

.upload-section{

margin-top:20px;

}

.upload-card{

display:inline-block;

padding:14px 24px;

cursor:pointer;

border-radius:15px;

background:
rgba(255,255,255,.08);

transition:.3s;

}

.upload-card:hover{

transform:translateY(-3px);

}

.upload-section span{

display:block;

margin-top:10px;

color:#cbd5e1;

}

#scanBtn{

width:100%;

margin-top:25px;

padding:18px;

border:none;

cursor:pointer;

border-radius:50px;

font-size:17px;

font-weight:600;

color:white;

background:
linear-gradient(
135deg,
#8b5cf6,
#ec4899
);

box-shadow:
0 0 25px rgba(236,72,153,.3);

transition:.3s;

}

#scanBtn:hover{

transform:translateY(-5px);

box-shadow:
0 0 40px rgba(236,72,153,.5);

}

.result-box h2{

text-align:center;

margin-bottom:25px;

}

.result-item{

margin-bottom:20px;

padding:20px;

border-radius:20px;

background:
rgba(255,255,255,.04);

}

.result-item h3{

margin-bottom:10px;

color:#f9a8d4;

}

.risk-meter{

margin-top:20px;

margin-bottom:20px;

}

.meter-bg{

height:18px;

width:100%;

overflow:hidden;

border-radius:50px;

background:
rgba(255,255,255,.08);

}

.meter-fill{

width:0%;

height:100%;

border-radius:50px;

transition:1s ease;

background:
linear-gradient(
90deg,
#22c55e,
#eab308,
#ef4444
);

}

.history-box{

margin-top:20px;

padding:20px;

border-radius:20px;

background:
rgba(255,255,255,.04);

}

.history-box ul{

list-style:none;

}

.history-box li{

padding:8px;

border-bottom:
1px solid rgba(255,255,255,.08);

}

@media(max-width:1000px){

.scanner-container{

grid-template-columns:1fr;

}

}

@media(max-width:768px){

.scanner-hero h1{

font-size:45px;

}

}